body {
  text-align: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  background-color: #F0F8FF; 
  margin: 0;
  padding: 0;
}

header {
  background-color: #FFF5EE; 
  padding: 20px;
  text-align: center;
}

nav a{
  margin: 0 10px;
  text-decoration: none;
  color: #696969; 
}

main {
  padding: 20px;
}
 
.ic {
  width: 80%;
  max-width: 720px;
  margin: 20px auto;
  border: 1px solid #D2B48C; 
  border-radius: 5px; 
  overflow: hidden;
  background-color: #F5F5F5; 
}

section {
  margin-bottom: 20px;
  flex: 2;
}

article {
  margin-bottom: 15px;
}

aside {
  background-color: #FAFAD2; 
  padding: 15px;
  flex: 1;
  text-align: center;
  justify-content: center;
}

footer {
  background-color: #E0E0E0; 
  padding: 10px;
  text-align: center;
}

.black {
  text-decoration: none;
  color: #333; 
}


